
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.facebook_Button{
position: absolute;
right:2rem;
top:7rem;

}
.google_button{
  position: absolute;
  right:2rem;
  top:12rem;

}